Flask
flask-cors==6.0.0
matplotlib==3.9.2
numpy
pandas
scikit-learn
scipy
seaborn
streamlit
pytest
protobuf==4.25.3
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==75.1.0
wheel==0.44.0
pyasn1-modules==0.2.8
pyls-spyder==0.4.0